/* You can add global styles to this file, and also import other style files */
:root {
  --blue-1: hwb(210 72% 0%);
  --blue-2: #7ab3fd;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(230, 235, 241, 0.253);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--blue-1);
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.fa-icon {
  color: #fff;
}

.container {
  width: 500px;
  height: 80vh;
  background-color: var(--blue-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  margin-top: 3rem;
  margin-left: 15px;
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 300%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  padding-left: 85px;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: var(--white);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--white);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-dark);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label span {
  color: var(--white);
  font-size: 0.8em;
  margin-top: 0.4em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.search {
  margin-top: 2em;
  text-align: center;
}

.search input {
  background-color: #9eccfd;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  width: 50%;
}

.search-icon {
  margin-left: -50px;
}

//Menu

.nav-bar {
  width: 190%;
  background-color: #fff;
  color: #7AC7C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-height: 150px;
  width: 250px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li:hover {
  background-color: #7AC7C4;
  color: #c2c2c2;
  border-radius: 5px;
  padding: 8px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #396866;
}

.menu-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  width: 145px;
  align-items: center;
  border: 2px solid #7AC7C4;
  border-radius: 20px;
  padding: 5px;
  margin-left: 15px;
}

.search-bar input {
  border: none;
  background: transparent;
  color: #084745;
  outline: none;
}

.search-bar button {
  background: transparent;
  border: none;
  color: #828282;
  cursor: pointer;
  margin-left: -50px;
}

::-webkit-scrollbar {
  width: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
